<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="row justify-content-between mt-3">
    <div class="col-9">
      <input
        [appValidationMessages]="[
            {errorCode: 'required', message: Messages.NameIsRequired},
            {errorCode: 'minlength', message: Messages.NameIsTooShort},
            {errorCode: 'maxlength', message: Messages.NameIsTooLong}
          ]"
        [formControl]="name"
        [placeholder]="'Enter candidate name'"
        class="form-control me-4"
      /></div>
    <div class="col-3">
      <app-submit-button [disabled]="!form.valid" [text]="'Add'"></app-submit-button>
    </div>
  </div>
</form>
