<div class="container d-flex justify-content-around">
  <app-logo [small]="true"/>
</div>

<div class="container">
  <ng-container *ngIf="electionService.election$ | async as election; else publicAccess">
    <app-election-room-creator-header [election]="election"/>
    <div class="row d-flex justify-content-between">
      <div class="col-6 d-flex flex-column">
        <h1 class="d-flex justify-content-center">Voters</h1>
        <app-voters-creator [roomCode]="roomCode"/>
      </div>
      <div class="col-6 d-flex flex-column">
        <h1 class="d-flex justify-content-center">Candidates</h1>
        <app-candidates-creator [roomCode]="roomCode"/>
      </div>
    </div>
  </ng-container>
  <ng-template #publicAccess>
    <ng-container *ngIf="electionService.electionPublic$ | async as election">
      <app-election-room-public-header [election]="election"/>
      <div class="row d-flex justify-content-between">
        <div class="col-6 d-flex flex-column">
          <h1 class="d-flex justify-content-center">Voters</h1>
          <app-voters-public [roomCode]="roomCode"/>
        </div>
        <div class="col-6 d-flex flex-column">
          <h1 class="d-flex justify-content-center">Candidates</h1>
          <app-candidates-public [roomCode]="roomCode"/>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <hr>
  <app-vote/>
</div>
