@import './app/shared/styles/colors.scss';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.card {
  background-color: $border-color;
  padding: 20px;
  border-radius: 8px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin-bottom: 3rem;
}

.container h1 {
  margin-top: 1.75rem;
}

.container p {
  margin-top: 1.5rem;
}

.container input.form-control {
  background-color: $border-color;
  color: $text-color;
}

.container input.form-control::placeholder {
  color: $text-color-dark;
}
