@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 1.25rem;

  background: linear-gradient(45deg, $secondary-color, $primary-color);
  background-size: 120% 200%;
  -webkit-background-clip: text;
  color: transparent;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-small {
    font-size: 1.2rem;
  }

  &-large {
    font-size: 3rem;
  }
}
