<div class="d-flex flex-column align-items-center">
  <p class="text-center" style="height: 3.5rem;">Join to existing election and vote for your candidate.</p>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="row justify-content-between mb-1">
      <div class="col-9">
        <input
          [appValidationMessages]="[
            {errorCode: 'required', message: Messages.RoomCodeIsRequired},
          ]"
          [formControl]="roomCode"
          [placeholder]="'Enter room code'"
          class="form-control me-4"
        /></div>
      <div class="col-3">
        <app-submit-button [disabled]="!form.valid" [text]="'Join'"></app-submit-button>
      </div>
    </div>
  </form>
</div>



